.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.meme-generator img {
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  width: 130px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}
.meme-generator .generate-meme-btn:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.meme-generator .generate-meme-btn:before,
.meme-generator .generate-meme-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.meme-generator .generate-meme-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.meme-generator .generate-meme-btn:before,
.meme-generator .generate-meme-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.meme-generator .generate-meme-btn:hover {
  border-left: 8px solid #222;
  border-right: 8px solid #222;
}

.meme-generator .meme-author {
  margin: 8px;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(177, 177, 177);
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(25, 16, 150);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 5s steps(60) infinite;
}

@keyframes typing {
  from {
    width: 0;
    margin-left: 50%;
  }
  to {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
}